@charset "utf-8";
*{margin:0; padding:0;}
body{font-size:14px;font-family:"微软雅黑";background:#E3E3E5;color:#5d5d5d;}
a{text-decoration:none;}
.lf{float:left;}
.rt{float:right;}
.clearfix{
    content: '';
    display: table;
    clear:both;
}
li{list-style:none;}
img{
    /*display:block;*/
    border:0;
}